<form [formGroup]="signupForm">
<input type="text" name="name" id="name" placeholder="Enter Your Name" formControlName ="name"/>
<input type="email" name="email" id="email" placeholder="Enter Your Email" formControlName="email"/>
<input type="password" name="password" id="password" placeholder="Enter Your PassWord" formControlName="password"/>
<input type="password" name="confirmPassword" id="confirmPassword" placeholder="Enter Your Confirm PassWord"
 formControlName="confirmPassword"/>

<button type="button" [disabled]="signupForm.invalid" (click)="signup()">SignUp</button>
</form>
